In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("dataset/products_product.csv")

df.head()

,id,name,description,weight,quantity,color,brand,price,size,posted_time,author_id,product_category_id,Model,product_img1,product_img2,product_img3,product_img4
0,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",210 grams,9,Black,HUAWEI,23000.0,7.12inches,2022-05-16 23:47:46+06,1,1,HUAWEI ENJOY MAX,images/products/Huawei-Enjoy-Max.jpg,images/floric.jpg,images/floric.jpg,images/floric.jpg
1,2,Duranta,This bicycle has a strong steel frame. Its bra...,3.5kg,5,Red & Orange,Duranta,4500.0,"12""",2022-05-19 22:27:33+06,1,10,Duranta Super Sports Bicycle,images/products/giant_168750.jpg,images/floric.jpg,images/floric.jpg,images/floric.jpg
2,19,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",81.1 in,6,Black,Cadillac,7441560.0,227 in,2022-05-17 23:10:55+06,1,20,Cadillac Escalade ESV,images/products/Cadillac_Escalade_Luxury_2022_...,images/floric.jpg,images/floric.jpg,images/floric.jpg
3,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",76.7 in,0,Appletree Green,Aston Martin,24561600.0,186.6 in,2022-05-17 23:14:17+06,1,20,Aston Martin DB11 V8,images/products/Aston_Martin_DB11_V8_2022.jpg,images/floric.jpg,images/floric.jpg,images/floric.jpg
4,21,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,250 g,20,Black,Nike,800.0,Large,2022-05-19 21:22:01+06,1,19,Gym bag,images/products/58a6cad37fadd0fa560cbe5fb4f786...,images/floric.jpg,images/floric.jpg,images/floric.jpg

In [3]:
df.shape

(153, 17)

In [4]:
# pd.Series(data=range(1,154))

In [5]:
# Add ID column 

# df['ID'] = pd.Series(data=range(1,154))

# df.head()

In [6]:
# Drop the id column
# df.drop(columns=['id'], inplace=True)

In [7]:
df.columns

Index(['id', 'name', 'description', 'weight', 'quantity', 'color', 'brand',
       'price', 'size', 'posted_time', 'author_id', 'product_category_id',
       'Model', 'product_img1', 'product_img2', 'product_img3',
       'product_img4'],
      dtype='object')

In [8]:
# Re-arange the columns 

# df = df[['ID', 'name', 'description', 'weight', 'quantity', 'color', 'brand', 'price',
#        'size', 'posted_time', 'author_id', 'product_category_id', 'Model',
#        'product_img1', 'product_img2', 'product_img3', 'product_img4']]

# df.head(3)

In [9]:
# Check the null values
df.isnull().sum()

id                      0
name                    0
description             0
weight                 28
quantity                0
color                   2
brand                   0
price                   0
size                   26
posted_time             0
author_id               0
product_category_id     0
Model                   0
product_img1            0
product_img2            0
product_img3            0
product_img4            0
dtype: int64

In [10]:
# Check the total null values

df.isna().sum().sum()

56

In [11]:
# Check the null values specificly

df[df.isna().any(axis=1)][['weight', 'size']]

          weight             size
45     210 grams              NaN
50   2.5 kg baya              NaN
51           50g              NaN
56     200 grams              NaN
58       0.65kg.              NaN
60           20g              NaN
61           NaN              NaN
62           NaN              NaN
63     200 grams              NaN
64           NaN              NaN
67         1.5kg              NaN
68         1.5kg              NaN
69     200 grams              NaN
75     210 grams              12"
76         1.5kg              NaN
77     200 grams              NaN
78     210 grams              NaN
79     200 grams              NaN
81          150g              NaN
82     2.75 Gram              NaN
83     6.31 Gram              NaN
84     4.91 Gram              NaN
85    37.75 Gram              NaN
86     3.25 Gram              NaN
87     2.36 Gram              NaN
88      8.8 Gram              NaN
89    28.31 Gram              NaN
90           NaN             11cm
91           NaN         3.7 inch
92           NaN         4.5 inch
93           NaN         3.7 inch
94           NaN          11.5 cm
95           NaN        12 * 10cm
96           NaN             14cm
97           NaN         7.2 inch
98           NaN       6.5cm*11cm
99           NaN            7.3 ”
100          NaN  38, 40, 42, 44,
101          NaN         4-6years
102          NaN         1.50 Mtr
103          NaN           6 yard
104          NaN           6 yard
105          NaN           6 yard
106          NaN           6 yard
107          NaN               42
108          NaN               42
109          NaN               42
110          NaN               42
111          NaN               XL
112          NaN               56
113          NaN               35
114          NaN               15

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   153 non-null    int64
 1   name                 153 non-null    object
 2   description          153 non-null    object
 3   weight               125 non-null    object
 4   quantity             153 non-null    int64
 5   color                151 non-null    object
 6   brand                153 non-null    object
 7   price                153 non-null    float64
 8   size                 127 non-null    object
 9   posted_time          153 non-null    object
 10  author_id            153 non-null    int64
 11  product_category_id  153 non-null    int64
 12  Model                153 non-null    object
 13  product_img1         153 non-null    object
 14  product_img2         153 non-null    object
 15  product_img3         153 non-null    object
 16  product_img4         153 non-null    object
dtypes: float64(1), int64(4), object(12)
memory usage: 20.4+ KB

In [13]:
df.head(2)

,id,name,description,weight,quantity,color,brand,price,size,posted_time,author_id,product_category_id,Model,product_img1,product_img2,product_img3,product_img4
0,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",210 grams,9,Black,HUAWEI,23000.0,7.12inches,2022-05-16 23:47:46+06,1,1,HUAWEI ENJOY MAX,images/products/Huawei-Enjoy-Max.jpg,images/floric.jpg,images/floric.jpg,images/floric.jpg
1,2,Duranta,This bicycle has a strong steel frame. Its bra...,3.5kg,5,Red & Orange,Duranta,4500.0,"12""",2022-05-19 22:27:33+06,1,10,Duranta Super Sports Bicycle,images/products/giant_168750.jpg,images/floric.jpg,images/floric.jpg,images/floric.jpg

In [14]:
# Now pick the important columns and work with those columns

df2 = df[['id', 'product_category_id' ,'name', 'description', 'brand', 'Model']].copy()

df2.head()

,id,product_category_id,name,description,brand,Model
0,1,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",HUAWEI,HUAWEI ENJOY MAX
1,2,10,Duranta,This bicycle has a strong steel frame. Its bra...,Duranta,Duranta Super Sports Bicycle
2,19,20,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",Cadillac,Cadillac Escalade ESV
3,20,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",Aston Martin,Aston Martin DB11 V8
4,21,19,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,Nike,Gym bag

In [15]:
# Check the unique values in name column

unique_value ,num_count = np.unique(ar=df2.name, return_counts=True)

In [16]:
len(unique_value)

151

In [17]:
num_count

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [18]:
for i, j in zip(unique_value, num_count):
    print(f'Product Name: {i} -----> Total counts: {j}')

Product Name: 2pcs-bangles-100-101 -----> Total counts: 1
Product Name: AFGHANI OXIDISED SILVER JEWELLERY -----> Total counts: 1
Product Name: AVITA Essential 14 laptop -----> Total counts: 1
Product Name: All Swivel Chair -----> Total counts: 1
Product Name: Apple Magic Mouse -----> Total counts: 1
Product Name: Apple iMac PC -----> Total counts: 1
Product Name: Aston Martin -----> Total counts: 1
Product Name: Asus PC -----> Total counts: 1
Product Name: BMW -----> Total counts: 1
Product Name: Baby Bouncer For Playing Sleeping & Relxation -----> Total counts: 1
Product Name: Baby Kitchen Set -----> Total counts: 1
Product Name: Baby gym rack and game pad combo -----> Total counts: 1
Product Name: Black Panther -----> Total counts: 1
Product Name: Blender VIS-SBL-018 Rapid Power -----> Total counts: 1
Product Name: Brislet -----> Total counts: 1
Product Name: COTTON WOVEN SAREE -----> Total counts: 1
Product Name: CPU Liquid Cooler -----> Total counts: 1
Product Name: CURREN 8356 Watch -----> Total counts: 1
Product Name: Cadillac -----> Total counts: 1
Product Name: Captain Curious -----> Total counts: 1
Product Name: Casio keyboard SA 46 -----> Total counts: 1
Product Name: Children's Study Table -----> Total counts: 1
Product Name: Chuwi HeroBook  Laptop -----> Total counts: 1
Product Name: Crocodile Texture Genuine Leather -----> Total counts: 1
Product Name: Curren -----> Total counts: 1
Product Name: Datsun -----> Total counts: 1
Product Name: Dell Inspiron 15 3515 Laptop -----> Total counts: 1
Product Name: Dell PC -----> Total counts: 1
Product Name: Diamond Storm  Pro RGB Gaming Casing -----> Total counts: 1
Product Name: Digital Voice Recorder -----> Total counts: 1
Product Name: Document Scanner -----> Total counts: 1
Product Name: Dual Band Gigabit 7 Antennas Router -----> Total counts: 1
Product Name: Duranta -----> Total counts: 1
Product Name: E. Kettle 1.0L -----> Total counts: 1
Product Name: EMBROIDERED NET SEMI STITCHED BRIDAL LEHENGA -----> Total counts: 1
Product Name: EMBROIDERED-KURTIS -----> Total counts: 1
Product Name: EMBROIDERY LEHENGA -----> Total counts: 1
Product Name: Electronic Dry Iron -----> Total counts: 1
Product Name: Electronic Watch -----> Total counts: 1
Product Name: Express -----> Total counts: 1
Product Name: FLORAL WEDDING LEHENGA -----> Total counts: 1
Product Name: Farlin Baby Magic Ball House -----> Total counts: 1
Product Name: Fernedes Atlas 5x-2008 Bass Guitar -----> Total counts: 1
Product Name: Ferrari -----> Total counts: 1
Product Name: Forever Bicycle -----> Total counts: 1
Product Name: GFC Glamour Ceiling Fan -----> Total counts: 1
Product Name: GFC Monet Ceiling Fan -----> Total counts: 1
Product Name: GOLD CHOKERS -----> Total counts: 1
Product Name: Genuine Leather Wallet -----> Total counts: 1
Product Name: Gigabit Smart Managed Switch -----> Total counts: 1
Product Name: Guitar Stand Wall Mount Hanger Hook -----> Total counts: 1
Product Name: HANDWOVEN SILK SAREES -----> Total counts: 1
Product Name: HATIL Swivel Chair -----> Total counts: 1
Product Name: HP 15s laptop -----> Total counts: 1
Product Name: HP PC -----> Total counts: 1
Product Name: HUAWEI -----> Total counts: 1
Product Name: Haier -----> Total counts: 1
Product Name: Haylou Smart Watch -----> Total counts: 1
Product Name: Hijab -----> Total counts: 1
Product Name: Hyundai -----> Total counts: 1
Product Name: Intel Core i3-2120 2nd Gen Processor -----> Total counts: 1
Product Name: Jeep Genuine Leather Wallet -----> Total counts: 1
Product Name: Key Wallet -----> Total counts: 1
Product Name: LED Light -----> Total counts: 1
Product Name: LG 32LK510B 32" HD LED Television -----> Total counts: 1
Product Name: Ladies Backpack -----> Total counts: 2
Product Name: Ladies Bracelet Type Watch -----> Total counts: 1
Product Name: Ladies Purse -----> Total counts: 1
Product Name: Lakmé -----> Total counts: 1
Product Name: Lakmé 9 to 5 -----> Total counts: 1
Product Name: Laptop Pouch bag -----> Total counts: 1
Product Name: Lenovo IdeaPad Slim 3i Laptop -----> Total counts: 1
Product Name: MAITHILI SILK SAREE -----> Total counts: 1
Product Name: Magnet Ladies Watch -----> Total counts: 1
Product Name: Mango MGN1 32" Borderless HD Smart Android LED Television -----> Total counts: 1
Product Name: Melody 3.5 Octave Stick Harmoniam -----> Total counts: 1
Product Name: Melody Tablya Baya -----> Total counts: 1
Product Name: Michael Kors -----> Total counts: 1
Product Name: Microsoft Windows 10 Professional  DVD -----> Total counts: 1
Product Name: Microwave Oven -----> Total counts: 1
Product Name: Mojar Periscope -----> Total counts: 1
Product Name: Motor Bike Rocker -----> Total counts: 1
Product Name: Motorola Moto -----> Total counts: 1
Product Name: Multi-Function Business Travel Wallet -----> Total counts: 1
Product Name: Multifunction Mono Laser Photocopier -----> Total counts: 1
Product Name: Multimedia Speaker -----> Total counts: 1
Product Name: New Mini  Fan -----> Total counts: 1
Product Name: Nike -----> Total counts: 1
Product Name: Nokia -----> Total counts: 1
Product Name: Non Modular Power Supply -----> Total counts: 1
Product Name: ORAS Genuine Leather Key Wallet -----> Total counts: 1
Product Name: ORAS Genuine Leather Wallet -----> Total counts: 2
Product Name: OnePlus -----> Total counts: 1
Product Name: Onnorokom Science Box: Mystery Of Chemistry -----> Total counts: 1
Product Name: Oppo -----> Total counts: 1
Product Name: PRINTED RAYON KURTA-SETS -----> Total counts: 1
Product Name: Playtime King Slider -----> Total counts: 1
Product Name: RA38N ORAS Genuine Leather Wallet for Men -----> Total counts: 1
Product Name: Realme -----> Total counts: 1
Product Name: Redmi -----> Total counts: 1
Product Name: Rice Cooker RC-1.8 -----> Total counts: 1
Product Name: Ride On Push Car -----> Total counts: 1
Product Name: SEMI STITCHED PARTY WEAR LEHENGA -----> Total counts: 1
Product Name: SILK READYMADE LEHENGA -----> Total counts: 1
Product Name: STAR 2000VA IPS -----> Total counts: 1
Product Name: Samsung -----> Total counts: 1
Product Name: Samsung 32N4010 -----> Total counts: 1
Product Name: Scholar Table With Chair -----> Total counts: 1
Product Name: Semi Fitted Panjabi -----> Total counts: 1
Product Name: Sennheiser EW135P-G4 wireless Microphone -----> Total counts: 1
Product Name: Single Function Mono Laser Printer -----> Total counts: 1
Product Name: Skmei watch -----> Total counts: 1
Product Name: Smart Managed Switch -----> Total counts: 1
Product Name: Sony Bravia  TV -----> Total counts: 1
Product Name: Spot light -----> Total counts: 1
Product Name: Standard Backup Online UPS -----> Total counts: 1
Product Name: Starex 32” GS -----> Total counts: 1
Product Name: Super 16 -----> Total counts: 1
Product Name: Swivel Chair -----> Total counts: 1
Product Name: TRADITIONAL DESIGNER SILK SAREE -----> Total counts: 1
Product Name: Targus Intellect Laptop Backpack -----> Total counts: 1
Product Name: Tesla -----> Total counts: 1
Product Name: Torch light -----> Total counts: 1
Product Name: Toyota -----> Total counts: 1
Product Name: VSN Electric Geyser -----> Total counts: 1
Product Name: VSN GD Refrigerator -----> Total counts: 1
Product Name: Vision Automatic Washing Machine -----> Total counts: 1
Product Name: Vivo -----> Total counts: 1
Product Name: WIFI Doll Camera -----> Total counts: 1
Product Name: WLED-RB3WB22 light -----> Total counts: 1
Product Name: Walton Light -----> Total counts: 1
Product Name: Wireless Earbuds -----> Total counts: 1
Product Name: X corolla -----> Total counts: 1
Product Name: Xiaomi Mi Band 6 CN -----> Total counts: 1
Product Name: Xiaomi TV -----> Total counts: 1
Product Name: ZOOM HD DIGITAL CAMERA -----> Total counts: 1
Product Name: children dress -----> Total counts: 1
Product Name: earring -----> Total counts: 1
Product Name: gaming headphone -----> Total counts: 1
Product Name: iPhone -----> Total counts: 1
Product Name: kanthohar -----> Total counts: 1
Product Name: kick scooter kids -----> Total counts: 1
Product Name: necklace -----> Total counts: 1
Product Name: nosepin -----> Total counts: 1
Product Name: ring -----> Total counts: 1
Product Name: shitahar -----> Total counts: 1
Product Name: silaring -----> Total counts: 1
Product Name: tikli -----> Total counts: 1
Product Name: walton Desktop PC -----> Total counts: 1
Product Name: বিজ্ঞানবাক্স পঞ্চম শ্রেণি -----> Total counts: 1
Product Name: স্মার্টকিট ফোকাস চ্যালেঞ্জ -----> Total counts: 1

In [19]:
unique_value2 ,num_count2 = np.unique(ar=df2.brand, return_counts=True)

for i, j in zip(unique_value2, num_count2):
    print(f'Product Name: {i} -----> Total counts: {j}')

Product Name: 2pcs-bangles-100-101 -----> Total counts: 1
Product Name: Al-amin -----> Total counts: 9
Product Name: Anker -----> Total counts: 1
Product Name: Antec -----> Total counts: 1
Product Name: Apple -----> Total counts: 3
Product Name: Aston Martin -----> Total counts: 1
Product Name: Asus -----> Total counts: 1
Product Name: BMW -----> Total counts: 1
Product Name: Baby Bouncer For Playing Sleeping & Relxation -----> Total counts: 1
Product Name: Baby Kitchen Set -----> Total counts: 1
Product Name: Baby gym rack and game pad combo -----> Total counts: 1
Product Name: Black Panther -----> Total counts: 1
Product Name: CURREN 8356 -----> Total counts: 1
Product Name: Cadillac -----> Total counts: 1
Product Name: Canon -----> Total counts: 2
Product Name: Captain Curious -----> Total counts: 1
Product Name: Casio -----> Total counts: 1
Product Name: Children's Study Table -----> Total counts: 1
Product Name: Crocodile Texture Genuine Leather -----> Total counts: 1
Product Name: Curren -----> Total counts: 1
Product Name: D-Link -----> Total counts: 1
Product Name: Datsun -----> Total counts: 1
Product Name: Dell -----> Total counts: 2
Product Name: Duranta -----> Total counts: 1
Product Name: Electronic Watch -----> Total counts: 1
Product Name: Express -----> Total counts: 1
Product Name: FASHION CAPITAL -----> Total counts: 1
Product Name: Fan -----> Total counts: 1
Product Name: Farlin Baby Magic Ball House -----> Total counts: 1
Product Name: Fernedes Atlas 5x-2008 Bass Guitar -----> Total counts: 1
Product Name: Ferrari -----> Total counts: 1
Product Name: Forever -----> Total counts: 1
Product Name: GFC -----> Total counts: 1
Product Name: GFC Glamour -----> Total counts: 1
Product Name: Genuine Leather Wallet -----> Total counts: 1
Product Name: Guitar Stand Wall Mount Hanger Hook -----> Total counts: 1
Product Name: HATIL -----> Total counts: 3
Product Name: HP -----> Total counts: 3
Product Name: HUAWEI -----> Total counts: 1
Product Name: Haier -----> Total counts: 1
Product Name: Havit -----> Total counts: 1
Product Name: Haylou Smart Watch -----> Total counts: 1
Product Name: Hyundai -----> Total counts: 1
Product Name: Jeep -----> Total counts: 1
Product Name: LG -----> Total counts: 1
Product Name: Ladies Backpack -----> Total counts: 2
Product Name: Ladies Bracelet Type Watch -----> Total counts: 1
Product Name: Lakmé -----> Total counts: 2
Product Name: Le Reve -----> Total counts: 1
Product Name: Lenovo -----> Total counts: 1
Product Name: Mad Club -----> Total counts: 1
Product Name: Magnet Ladies Watch -----> Total counts: 1
Product Name: Mango -----> Total counts: 1
Product Name: MaxGreen -----> Total counts: 1
Product Name: Melody -----> Total counts: 1
Product Name: Melody Tablya Baya -----> Total counts: 1
Product Name: Michael Kors -----> Total counts: 1
Product Name: Microsoft -----> Total counts: 1
Product Name: Mirraw -----> Total counts: 11
Product Name: Mojar Periscope -----> Total counts: 1
Product Name: Motor Bike Rocker -----> Total counts: 1
Product Name: Motorola Moto -----> Total counts: 1
Product Name: Nike -----> Total counts: 1
Product Name: Nokia -----> Total counts: 1
Product Name: ORAS -----> Total counts: 5
Product Name: ORAS Genuine Leather Wallet -----> Total counts: 1
Product Name: OnePlus -----> Total counts: 1
Product Name: Onnorokom Science Box: Mystery Of Chemistry -----> Total counts: 1
Product Name: Oppo -----> Total counts: 1
Product Name: Playtime King Slider -----> Total counts: 1
Product Name: RA38N ORAS Genuine Leather Wallet for Men -----> Total counts: 1
Product Name: Realme -----> Total counts: 1
Product Name: Redragon -----> Total counts: 1
Product Name: Ride On Push Car -----> Total counts: 1
Product Name: STAR -----> Total counts: 1
Product Name: Samsung -----> Total counts: 2
Product Name: Scholar Table With Chair -----> Total counts: 1
Product Name: Sennheiser -----> Total counts: 1
Product Name: Skmei -----> Total counts: 1
Product Name: Sony -----> Total counts: 2
Product Name: Sony Bravia -----> Total counts: 1
Product Name: Star tech -----> Total counts: 4
Product Name: Starex -----> Total counts: 1
Product Name: Super 16 -----> Total counts: 1
Product Name: TOYOTA -----> Total counts: 1
Product Name: Tesla -----> Total counts: 1
Product Name: Vision -----> Total counts: 10
Product Name: Vivo -----> Total counts: 1
Product Name: WLED-DC24V-10W -----> Total counts: 1
Product Name: Walton -----> Total counts: 3
Product Name: Walton Light -----> Total counts: 1
Product Name: White Button -----> Total counts: 1
Product Name: X Corolla -----> Total counts: 1
Product Name: Xiaomi -----> Total counts: 1
Product Name: Xiaomi Mi -----> Total counts: 2
Product Name: Xiaomi Mi Band -----> Total counts: 1
Product Name: ZADAK SPARK -----> Total counts: 1
Product Name: Zyxel -----> Total counts: 1
Product Name: intel -----> Total counts: 1
Product Name: kick scooter kids -----> Total counts: 1
Product Name: pspeaches -----> Total counts: 1
Product Name: walton -----> Total counts: 1
Product Name: বিজ্ঞানবাক্স পঞ্চম শ্রেণি -----> Total counts: 1
Product Name: স্মার্টকিট ফোকাস চ্যালেঞ্জ -----> Total counts: 1

In [20]:
len(unique_value2)

104

In [21]:
df2[(df2.name == "বিজ্ঞানবাক্স পঞ্চম শ্রেণি") | (df2.name == "স্মার্টকিট ফোকাস চ্যালেঞ্জ")]

,id,product_category_id,name,description,brand,Model
75,108,4,বিজ্ঞানবাক্স পঞ্চম শ্রেণি,"এতে রয়েছে সোলার সেল, জেনারেটর, উইন্ডমিল মডিউল,...",বিজ্ঞানবাক্স পঞ্চম শ্রেণি,বিজ্ঞানবাক্স পঞ্চম শ্রেণি
78,111,4,স্মার্টকিট ফোকাস চ্যালেঞ্জ,এই কিটটিতে রয়েছে ১টি সার্কিট বোর্ড বোর্ডকে কার...,স্মার্টকিট ফোকাস চ্যালেঞ্জ,স্মার্টকিট ফোকাস চ্যালেঞ্জ

In [22]:
df2.loc[77, 'description']

'মোটর, ফ্যান, বর্ণ চাকতি, পেরিস্কোপ বক্স, বক্স দিয়ে পেরিস্কোপ বানানোর জন্য রয়েছে দুইটি আয়না।'

In [23]:
x = 78

for i in range(1):
    print(df2.loc[x, 'name'], end='\n\n')
    print(df2.loc[x, 'description'],end='\n\n')
    print(df2.loc[x, 'brand'],end='\n\n')
    print(df2.loc[x, 'Model'],end='\n\n')

স্মার্টকিট ফোকাস চ্যালেঞ্জ

এই কিটটিতে রয়েছে ১টি সার্কিট বোর্ড বোর্ডকে কার্যকর করার জন্য ২ টি ব্যাটারি আঁকাবাঁকা রাস্তার মতো তিনটি ধাতব তার, যেগুলোকে আলাদা আলাদা ভাবে সার্কিট বোর্ডের সাথে যুক্ত করা যাবে আর রয়েছে দুইটি লুপ একটি ছোট, অন্যটি বড় বড় লুপ দিয়ে চ্যালেঞ্জ কমপ্লিট করতে পারলে চ্যালেঞ্জটিকে আরো একটু কঠিন করার জন্য রয়েছে ছোট লুপটি।

স্মার্টকিট ফোকাস চ্যালেঞ্জ

স্মার্টকিট ফোকাস চ্যালেঞ্জ

In [24]:
df2.head()

,id,product_category_id,name,description,brand,Model
0,1,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",HUAWEI,HUAWEI ENJOY MAX
1,2,10,Duranta,This bicycle has a strong steel frame. Its bra...,Duranta,Duranta Super Sports Bicycle
2,19,20,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",Cadillac,Cadillac Escalade ESV
3,20,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",Aston Martin,Aston Martin DB11 V8
4,21,19,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,Nike,Gym bag

In [25]:
df2.replace(to_replace={
    'name':"বিজ্ঞানবাক্স পঞ্চম শ্রেণি",
    'description':"এতে রয়েছে সোলার সেল, জেনারেটর, উইন্ডমিল মডিউল, বাযার মডিউল, এলইড মডিউল, কার্বন, চারকোল সহ মোট ৬০+ উপকরণ সব অধ্যায়ের মোট ২৮ এক্সপেরিমেন্ট",
    'brand':"বিজ্ঞানবাক্স পঞ্চম শ্রেণি",
    'Model':"বিজ্ঞানবাক্স পঞ্চম শ্রেণি"}, value={
    
    'name':"science box fifth grade",
    'description':"It includes solar cell, generator, windmill module, bazaar module, LED module, carbon, charcoal and a total of 80+ materials.",
    'brand':"science box fifth grade",
    'Model':"science box fifth grade"
}, inplace=True)


df2.replace(to_replace={
    'name':"Captain Curious",
    'description':"মিশন ইলেক্ট্রোক্যানন অংশ ১। তড়িত কামান ২। কানেক্টরসহ ব্যাটারি বক্স ৪। পাঁচটি প্লাস্টিকের সৈন্য ৫। ছয়টি গোলা গভীর সমুদ্রের অ্যাডভেঞ্চার ১। ২ টি কার্তেসিয়ান ডুবুরী ২। ২ টি রকেট",
    'brand':"Captain Curious",
    'Model':"Captain Curious"}, value={
    
    'name':"Captain Curious",
    'description':"Mission Electrocannon Part 1. Electric cannon 2. Battery box with connector 4. Five plastic soldiers 5. Six shells deep sea adventure 1. 2 Cartesian divers 2. 2 rockets",
    'brand':"Captain Curious",
    'Model':"Captain Curious"
}, inplace=True)


df2.replace(to_replace={
    'name':"Mojar Periscope",
    'description':"মোটর, ফ্যান, বর্ণ চাকতি, পেরিস্কোপ বক্স, বক্স দিয়ে পেরিস্কোপ বানানোর জন্য রয়েছে দুইটি আয়না।",
    'brand':"Mojar Periscope",
    'Model':"Mojar Periscope"}, value={
    
    'name':"Mojar Periscope",
    'description':"There are two mirrors for making periscope with motor, fan, color disc, periscope box, box.",
    'brand':"Mojar Periscope",
    'Model':"Mojar Periscope"
}, inplace=True)


df2.replace(to_replace={
    'name':"স্মার্টকিট ফোকাস চ্যালেঞ্জ",
    'description':"এই কিটটিতে রয়েছে ১টি সার্কিট বোর্ড বোর্ডকে কার্যকর করার জন্য ২ টি ব্যাটারি আঁকাবাঁকা রাস্তার মতো তিনটি ধাতব তার, যেগুলোকে আলাদা আলাদা ভাবে সার্কিট বোর্ডের সাথে যুক্ত করা যাবে আর রয়েছে দুইটি লুপ একটি ছোট, অন্যটি বড় বড় লুপ দিয়ে চ্যালেঞ্জ কমপ্লিট করতে পারলে চ্যালেঞ্জটিকে আরো একটু কঠিন করার জন্য রয়েছে ছোট লুপটি।",
    'brand':"স্মার্টকিট ফোকাস চ্যালেঞ্জ",
    'Model':"স্মার্টকিট ফোকাস চ্যালেঞ্জ"}, value={
    
    'name':"Smart Kit Focus Challenge",
    'description':"This kit consists of three metal cables, such as two battery zigzags, which can be attached to the circuit board separately to make 1 circuit board board effective, and has two loops, one small, the other large. There is a small loop to do.",
    'brand':"Smart Kit Focus Challenge",
    'Model':"Smart Kit Focus Challenge"
}, inplace=True)

In [26]:
df2.loc[77, 'description']

'There are two mirrors for making periscope with motor, fan, color disc, periscope box, box.'

In [27]:
x = 78

for i in range(1):
    print(df2.loc[x, 'name'], end='\n\n')
    print(df2.loc[x, 'description'],end='\n\n')
    print(df2.loc[x, 'brand'],end='\n\n')
    print(df2.loc[x, 'Model'],end='\n\n')

Smart Kit Focus Challenge

This kit consists of three metal cables, such as two battery zigzags, which can be attached to the circuit board separately to make 1 circuit board board effective, and has two loops, one small, the other large. There is a small loop to do.

Smart Kit Focus Challenge

Smart Kit Focus Challenge

In [28]:
# Create a new Dataset based on the some preprocessing

df2.to_csv(path_or_buf="dataset/newdf.csv", index=False, encoding='utf-8')